.heading-main-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    /* margin-top: 40px; */
    margin: 40px;
}

.heading-heading {
    font-size: 20px;
    /* letter-spacing: 1px; */
    font-weight: 500;
}

.heading-icons-container {

    display: flex;
    gap: 2rem;
    font-size: 16px;
}


.heading-icons-border {
    border: 0.5px solid rgb(144, 230, 150);
    border-radius: 50%;
    padding: 10px;
}

.heading-icons-border:hover{
    background-color: black;
    color:white;
    cursor:pointer
}

.heading-icons-line {
    border-bottom: 0.2px solid #C0C0C0;
    width: 80px;
    align-self: center;

}

.fashipping {
    background-color: rgb(144, 230, 150);
    color: white
}